@page {
  size: letter;
  margin: .1in;
}

.card {
  width: 2in;
  height: 3in;
  border: 1px black dashed;
  padding: .25in;
  margin: 0;
  text-align: center;
  align-content: center;
}

.card li {
  text-align: left !important;
}

.grid {
  display: grid;
  grid-template-columns: 2.5in 2.5in 2.5in;
  margin: 0;
}

.codex-editor--narrow .codex-editor__redactor {
  margin-right: 0 !important;
}